/*Especificidad: 001*/
body {
	font-family: Tahoma, sans-serif;
	color: #000000;
	background-color: #DC8F54;
}

/*Especificidad: 001*/
h1 {
	font-family: Tahoma, sans-serif;
	color: #000000;
	background-color: #DC8F54;
	text-align: center;
	border-radius: 1em;
}

/*Especificidad: 001*/
main {
	font-family: Tahoma, sans-serif;
	color: #FFF;
	background-color: #444;
	min-width: 15em;
	max-width: 20em;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
	border-radius: 1.1em;
	display: grid;
	gap: 0.5em;
	grid-template-columns: repeat(4, 1fr);
}

/*Especificidad: 001*/
label {
	opacity: 0;
}

/*Especificidad: 001*/
input[type="text"] {
	color: #000000;
	background-color: #B8E8B0;
	text-align:center;
	font-size: 1.5em;
	grid-column: 1 / 5;
	margin-bottom: 0.8em;
}

/*Especificidad: 001*/
input[type="button"] {
	color: #000000;
	background-color: #E0E0E0;
	text-align:center;
	font-size: 1.5em;
	gap: 1em;
	border-radius: 0.5em;
	margin: 0.4em;
	height: 1.8em;
}

/*Especificidad: 011*/
input[value="mrc"], input[value="m-"], input[value="m+"] {
	color: #FFF;
	background-color: #757575;
}

/*Especificidad: 011*/
input[value="*"], input[value="+"], input[value="-"], input[value="/"] {
	color: #000000;
	background-color: #FA566C;
}





