/*Especificidad: 001*/
section {
	font-family: Tahoma, sans-serif;
	color: #000000;
	background-color: #8DEB3B;
	padding: 0.5em;
	border-radius: 1em;
	font-size: 1.4em;
	grid-column: 1/4;
}

/*Especificidad: 001*/
h2 {
	color: #fff;
	background-color: #168701;
	text-align: center;
	padding: 0.3em;
	font-size: 1.3em;
	border-radius: 1em;
}

/*Especificidad: 001*/
input {
	color: #000000;
	background-color: #C8FF96;
	font-size: 1.4em;
	margin-bottom: 1em;
}

/*Especificidad: 001*/
textarea {
	color: #000000;
	background-color: #C8FF96;
	font-size: 1.4em;
}

label {
	margin-bottom: 1em;
}
