/*Especificidad: 001*/
table {
	font-family: Tahoma, sans-serif;
	color: #000000;
	background-color: #FF90FB;
	text-align: center;
	padding: 1em;
	border-radius: 1em;
	grid-column: 1/4;
}

/*Especificidad: 001*/
caption {
	color: #000000;
	background-color: #BF4FBB;
	padding: 0.5em;
	font-size: 1.5em;
	border-radius: 4em;
}

/*Especificidad: 001*/
tr {
	padding: 0.5em;
	font-size: 1.3em;
}

/*Especificidad: 001*/
section {
	padding: 0em;
	grid-column: 1/4;
}