/*Especificidad: 001*/
body {
	font-family: Tahoma, sans-serif;
	color: #000000;
	background-color: #FFF;
}

/*Especificidad: 001*/
h1 {
	font-family: Tahoma, sans-serif;
	color: #000000;
	background-color: #FFF;
	text-align: center;
	border-radius: 1em;
}

/*Especificidad: 001*/
form {
	font-family: Tahoma, sans-serif;
	color: #FFF;
	background-color: #c2c2c2;
	min-width: 40em;
	max-width: 40em;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
	display: grid;
	gap: 0.5em;
	grid-template-columns: repeat(5, 1fr);
}

/*Especificidad: 001*/
p {
	grid-column: 1/6;
	margin: 0em;
}

/*Especificidad: 001*/
label {
	opacity: 0;
}

/*Especificidad: 001*/
input[type="text"] {
	color: #000000;
	background-color: #c2c2c2;
	text-align: right;
	font-size: 3em;
	grid-column: 1 / 6;
	margin-bottom: 0.8em;
	height: 2em;
}

/*Especificidad: 001*/
input[type="submit"] {
	color: #000000;
	background-color: #e2e2e2;
	text-align:center;
	font-size: 1.5em;
	gap: 1em;
	margin: 0.4em;
	height: 2em;
	width: 3.8em;
}

/*Especificidad: 011*/
input[value="MC"], input[value="MR"], input[value="M+"], input[value="MS"], input[value="M-"], input[value="DEG"], input[value="RAD"], input[value="GRAD"], input[value="HYP"], input[value="F-E"] {
	color: #000000;
	background-color: #c2c2c2;
}

/*Especificidad: 011*/
input[value="0"], input[value="1"], input[value="2"], input[value="3"], input[value="4"], input[value="5"], input[value="6"], input[value="7"], input[value="8"], input[value="9"], input[value="."] {
	color: #000000;
	background-color: #FFF;
}






