/*Especificidad: 001*/
body {
	font-family: Tahoma, sans-serif;
	color: #000000;
	background-color: #FFDB73;
	font-size: auto;
}

/*Especificidad: 011*/
form[name="creacion"] {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 0.5em;
}

/*Especificidad: 011*/
form[name="busqueda"] {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0.5em;
}

/*Especificidad: 011*/
form[name="insercion"], form[name="modificacion"] {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 0.5em;
}

/*Especificidad: 011*/
form[name="borrado"], form[name="importar"] {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0.5em;
}

/*Especificidad: 001*/
h1 {
	font-family: Tahoma, sans-serif;
	color: #000000;
	background-color: #FFF;
	text-align: center;
	border-radius: 1em;
}

/*Especificidad: 001*/
h3 {
	color: #000000;
	background-color: #FFF;
	font-family: Tahoma, sans-serif;
	text-align: center;
}

/*Especificidad: 001*/
section {
	grid-column: 1/3;
}

/*Especificidad: 001*/
p {
	font-size: 1.2em;
	font-family: Tahoma, sans-serif;
	color: #000000;
	background-color: #FFDB73;
}

/*Especificidad: 001*/
label {
	font-size: 1.2em;
	font-family: Tahoma, sans-serif;
	color: #000000;
	background-color: #FFDB73;
}

/*Especificidad: 001*/
input {
	margin: 1em;
	font-size: 1.5em;
}

/*Especificidad: 011*/
input[type="submit"] {
	height: 2em;
}
