/*Especificidad: 001*/
body {
	font-family: Tahoma, sans-serif;
	color: #000000;
	background-color: #FFDB73;
	display: grid;
	gap: 1em;
	grid-template-columns: repeat(3, 1fr);
}

/*Especificidad: 001*/
nav {
	color: #000EE0;
	background-color: #E6EAFD;
	text-align: center;
	padding: 0.5em;
	font-size: 1.2em;
	border-radius: 2em;
	grid-column: 1/4;
}

/*Especificidad: 001*/
h1 {
	color: #fff;
	background-color: rgb(0, 75, 4);
	text-align: center;
	text-transform: uppercase;
	padding: 1.2em;
	font-size: 1.8em;
	border-radius: 1em;
	grid-column: 1/4;
}

/*Especificidad: 001*/
section {
	font-family: Tahoma, sans-serif;
	color: #000000;
	background-color: #fff;
	padding: 0.5em;
	border-radius: 1em;
}

/*Especificidad: 001*/
footer {
	font-family: Tahoma, sans-serif;
	color: #000000;
	background-color: #fff;
	padding: 0.5em;
	border-radius: 1em;
}

/*Especificidad: 001*/
h2 {
	color: #000000;
	background-color: #fff;
	text-align: center;
	padding: 0em;
	font-size: 1.1em;
}