/*Especificidad: 001*/
body {
	font-family: Tahoma, sans-serif;
	color: #000000;
	background-color: #FFDB73;
}

/*Especificidad: 011*/
form[name="creacion"] {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

/*Especificidad: 011*/
form[name="insercion"], form[name="modificacion"] {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
}

/*Especificidad: 001*/
h1 {
	font-family: Tahoma, sans-serif;
	color: #000000;
	background-color: #FFF;
	text-align: center;
	border-radius: 1em;
}

/*Especificidad: 001*/
p {
	font-size: 1.2em;
	font-family: Tahoma, sans-serif;
	color: #000000;
	background-color: #FFDB73;
}

/*Especificidad: 001*/
input {
	margin: 1em;
	font-size: 1.5em;
}

/*Especificidad: 011*/
input[name="txtCrearBD"], input[name="txtCrearTabla"] {
	width: 20em;
}