/*Especificidad: 001*/
body {
	font-family: Tahoma, sans-serif;
	color: #000000;
	background-color: rgb(147, 239, 255);
}

/*Especificidad: 001*/
h1 {
	font-family: Tahoma, sans-serif;
	color: #000000;
	background-color: rgb(147, 239, 255);
	text-align: center;
	border-radius: 1em;
}

/*Especificidad: 001*/
main {
	font-family: Tahoma, sans-serif;
	color: #FFF;
	background-color: #355d12;
	min-width: 40em;
	max-width: 40em;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
	border-radius: 0.5em;
	display: grid;
	gap: 0.5em;
	grid-template-columns: repeat(4, 1fr);
}

/*Especificidad: 001*/
label {
	opacity: 0;
	color: #000;
	background-color: rgb(147, 239, 255)
}

/*Especificidad: 011*/
input[type="text"] {
	color: #000000;
	background-color: #FFF;
	text-align: left;
	font-size: 2em;
	grid-column: 1/5;
	margin-bottom: 0.8em;
	height: 1em;
	border-radius: 0.5em;
}

/*Especificidad: 001*/
textarea {
	color: #000000;
	background-color: #FFF;
	text-align: left;
	font-size: 1.5em;
	grid-column: 1/5;
	margin-top: 0.2em;
	height: 6em;
	border-radius: 0.5em;
	min-width: 32em;
	max-width: 32em;
}

/*Especificidad: 011*/
input[type="button"] {
	color: #000000;
	background-color: #e2e2e2;
	text-align:center;
	font-size: 1.5em;
	gap: 1em;
	margin-top: 0.4em;
	margin-bottom: 0.4em;;
	margin-left: auto;
	margin-right: auto;
	height: 2.5em;
	width: 3.8em;
	border-radius: 0.2em;
}

/*Especificidad: 011*/
input[value="0"], input[value="1"], input[value="2"], input[value="3"], input[value="4"], input[value="5"], input[value="6"], input[value="7"], input[value="8"], input[value="9"], input[value="."] {
	color: #000000;
	background-color: #FFF;
}

/*Especificidad: 011*/
input[value="Enter"] {
	color: #000000;
	background-color: #FA566C;
}
